body{
	background-color: #ddd;
	font-family: Helvetica Neue, Arial;
	overflow: hidden;
}

.name-prompt{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	background-color: #eee;
	z-index: 2;
	padding: 10px;
}

.arena{
	margin: auto;
	background-image: url(../img/space.png);
	position: relative;
	pointer-events: none;
}

.tank{
	position: absolute;
	background-repeat: no-repeat;
	background-position: -10px 0;
}

.explosion{
	position: absolute;
	width: 100px;
	height: 120px;
	z-index: 99;
}

.tank-cannon{
	position: absolute;
	top: -25px;
	width: 60px;
	height: 80px;
	background-image: url(../img/tank-cannon.png);
	background-position: -10px 0;
	-webkit-transform-origin: 30px 65px;
	   -moz-transform-origin: 30px 65px;
		 -o-transform-origin: 30px 65px;
			transform-origin: 30px 65px;
}

.cannon-ball{
	position: absolute;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	background-color: #F690E3;
}

.ball-explosion{
	position: absolute;
	display: inline-block;
	background-color: #873B05;
	width: 10px;
	height: 10px;
	opacity: 1;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}

.ball-explosion.expand{
	width: 50px;
	height: 50px;
	background-color: #FCD700;
	opacity: 0;
	margin-left: -25px;
	margin-top: -25px;
	-webkit-border-radius: 25px;
	    moz-border-radius: 25px;
		 -o-border-radius: 25px;
			border-radius: 25px;
}

.info{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -85px;
	margin-left: -50px;
	opacity: .8;
}

.label{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 100px;
	color: #F6EE90;
	margin: 0 auto;
	display: inline-block;
}

.hp-bar{
	width: 100px;
	height: 4px;
	background-color: #7DD12C;
	margin: 0 auto;
}

.fade{
	opacity: .3;
}

.tank-selection{
	display: inline-block;
	width: 350px;
	padding: 0;
	list-style-type: none;
	margin: 20px auto 0 auto;
}

.tank-select label{
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	text-align: center;
}

.tank-selection li{
	display: inline-block;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #eee;
	padding: 10px 0;
}

.tank-selection li.selected{
	border: 2px solid #158cba;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	border-radius: 5px;
}

/* skins */
.tank1{
	background-image: url(../img/tank-1-base.png);
}

.tank2{
	background-image: url(../img/tank-2-base.png);
}

.tank3{
	background-image: url(../img/tank-3-base.png);
}
.tank4{
	background-image: url(../img/tank-4-base.png);
}
